<!DOCTYPE html>
<html>
<head>
	<title></title>
	<link rel="stylesheet" type="text/css" href="style.css">
</head>
<body>
	<form action="/" method="post">
		<input type="text" name="name">
		<button type="submit">Submit</button>
	</form>
	<form action="/exchanges" method="post" class="exchanges">
		<input type="checkbox">acx
		<input type="checkbox">adara
		<input type="checkbox">anxpro
		<input type="checkbox">bcex
		<input type="checkbox">bequant
		<input type="checkbox">bigone
		<input type="checkbox">binance
		<input type="checkbox">binanceus
		<input type="checkbox">bit2c
		<input type="checkbox">bitbank
		<input type="checkbox">bitbay
		<input type="checkbox">bitflyer
		<input type="checkbox">bitforex
		<input type="checkbox">bithumb
		<input type="checkbox">bitkk
		<input type="checkbox">bitlish
		<input type="checkbox">bitmart
		<input type="checkbox">bitmax
		<input type="checkbox">bitstamp
		<input type="checkbox">bl3p
		<input type="checkbox">bleutrade
		<button type="submit">Submit</button>
	</form>
	{% for l in t %}
		{{l}}
	{% endfor %}

	<div class="results">
		<pre>{{response}}</pre>
	</div>
</body>
</html>