*
{
    margin: 0;
    padding: 0;
}

body
{
font-family: "Roboto", "Lucida Grande", Verdana, Arial, sans-serif;
}

#nav-bar
{
    position: sticky;
    top:0;
    z-index: 10;
}

.navbar
{
    background-image: linear-gradient(to right, #BB0C00, #000000);
    padding: 0 !important;
    height: 100px;
}

.navbar-brand img
{
    size: 50px;
    height: 150px;
    padding-left: 20px;

}

.navbar-nav li
{
    padding: 0 10px;
}

.navbar-nav li a
{
    color: #FFFFFF !important;
    font-weight: 400;
    float:right;
    text-align: left;
}

.fa-bars
{
    color: #000000;
    font-size: 30px !important;
}

.navbar-toggler
{
    outline: none !important;
}

/*---------banner section------------*/
#banner
{
    background-image: linear-gradient(to right, #BB0C00, #000000);
    color: #FFFFFF;
    padding-top: 5% ;
}

.promo-title
{
    font-size: 40px;
    font-weight: 600;
    margin-top: 100px;
}